.countries_container_div {
  // border: dashed black 2px;
  max-width: 1300px;
  width: 100%;
  margin-top: 30px;
  & h1 {
    color: $color_text;
    text-shadow: 0px 0px 20px #050201;
    margin: auto;
    color: white;
  }
  & h2 {
    font-size: 1em;
  }
  .countries_radios {
    z-index: 100;
  //  position: fixed;
    display: flex;
    justify-content: space-around;
    max-width: 1340px;
    width: 100%;
    left: 5em;
    bottom: 800px;
    background-color: $color_background_nav;
    @include box_shadow_black;
    color: $color_text;
    border-radius: 15px;
    padding: 0.5em;
    @include mobile_max_680 {
      bottom: 710px;
      padding: 0.2em;
      left: 3em;
    }
    @include mobile_max_440 {
      bottom: 750px;
      left: 2em;
      padding: 0.2em;
    }
    & li {
      padding: 0 1em 0 0;
      @include mobile_max_440 {
        padding: 0;
      }
    }
    & li:hover {
      //   transform: scale(1);
      border: solid 0.5px white;
      background-color: #464545;
      border-radius: 15px;
    }
    & input {
      margin: 0em 1em;
      @include mobile_max_440 {
        transform: scale(0.7);
      }
    }
    & label {
      @include mobile_max_440 {
        font-size: 0.6em;
      }
    }
    & button {
      border-radius: 0 15px 15px 0;
      border: solid rgb(245, 241, 241) 1px;
      color: $color_text;
      background-color: #393838;
      padding: 0.3em;
      margin: 0;
      @include mobile_max_440 {
        font-size: 0.6em;
      }
    }
    & button:hover {
      transform: scale(1.05);
    }
  }
  .countries_container_Card {
    //   border: dashed black 2px;
    & ul {
      // border: dashed black 2px;
      display: flex;
      justify-content: space-between;
      row-gap: 2em;
      column-gap: 1em;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-bottom: 100px;
    }
    .checkedRadio_container {
      // border: 1px dashed black;
      z-index: 100;
     // position: fixed;
      border-radius: 15px;
      max-width: 1340px;
      width: 100%;
      left: 5em;
      @include box_shadow_black;
      background-color: $color_background_nav;
      bottom: 770px;
      @include mobile_max_680 {
        bottom: 770px;
        left: 3em;
      }
      @include mobile_max_440 {
        bottom: 720px;
        left: 2em;
      }
      & input {
        width: 95%;
        margin: auto;
        padding: 0.2em;
      }
    }
  }
}
