.nav_div_container {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #464545;
  position: fixed;
  top: 0%;
  width: 100%;
  padding: 0px;
}

.nav_div_container .ul_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  list-style-type: none;
  color: #efeeee;
}

.nav_div_container .ul_navigation .li_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 0.2px solid #efeeee;
  padding: 1.5em 0.5em;
  color: #efeeee;
  height: 30px;
  width: 100%;
  background-color: rgba(248, 244, 244, 0.096);
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 5px;
}

.nav_div_container .ul_navigation .li_navigation:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav_div_container .ul_navigation .nav-active {
  width: auto;
  position: relative;
}

.nav_div_container .ul_navigation .nav-active ::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 50px;
  background-color: #f1edf7;
  -webkit-box-shadow: 4px -10px 49px 5px #EBEBEB;
  box-shadow: 4px -10px 49px 5px #EBEBEB;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.home_main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto 0px auto;
  max-width: 1300px;
  text-align: center;
  padding: 1em;
}

.home_main_container .home_h1 {
  letter-spacing: 1.2em;
  line-height: 2em;
  text-shadow: 0px 0px 20px #050201;
  color: white;
}

.about_main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto 0px auto;
  max-width: 900px;
  text-align: center;
}

.about_main_container .about_div_container_h1_p {
  padding: 1em;
}

.about_main_container h1 {
  letter-spacing: 1em;
  padding: 1em;
}

.about_main_container p {
  letter-spacing: 0.2em;
  line-height: 2em;
}

.about_main_container img {
  background-image: url("../assets/images/body-background.jpg");
  max-width: 200px;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 200px;
  padding: 1em;
}

.logo-container h2 {
  font-size: 0.7em;
  color: #aca9a9;
}

.countries_container_div {
  max-width: 1300px;
  width: 100%;
}

.countries_container_div h1 {
  color: #efeeee;
  text-shadow: 0px 0px 20px #050201;
  margin: 2em auto;
  color: white;
}

.countries_container_div h2 {
  font-size: 1em;
}

.countries_container_div .countries_container_Card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 2em;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card_container_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.5em;
  margin: 10px auto;
  background-color: white;
  -webkit-box-shadow: 1px 1px 25px 3px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 25px 3px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  padding: 0.5em;
  max-width: 300px;
}

.card_container_div h2 {
  font-size: 1em;
}

.card_container_div p {
  font-size: 0.8em;
}

.card_container_div a {
  border: 1px solid black;
  border-radius: 15px;
  padding: 0.5em;
  font-size: 0.7em;
}

.card_container_div a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 1px 1px 25px 3px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 25px 3px rgba(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #aca9a9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */